<h1>GeoCode</h1>

<div id="map"></div>

<div>
    <% places.forEach( function(place, i) { %>
        <li>
            <a href="/info/<%= place.id %>">
            <h4><%= place.name %></h4>
            <p><%= place.address %></p>
            </a>
        </li>
    <% }) %>
</div>
<script>
    var markers = <%- JSON.stringify(places) %>;
</script>