<h1>Add a place</h1>

<form method="POST" action="/">
    <label for="name">NAME
        <input type="text" name="name">
    </label>
    <label for="address">ADDRESS
        <input type="text" name="address">
    </label>
    <button class="btn black" type="submit">ADD THAT PLACE</button>
</form>